.first-bg-color{background-color:black;}
.second-color-white{color:white;}
.third-color-grey{color:#B2B2B2;}
.text-align{text-align:center;}
.margin-top1{margin-top:10px;}

.fourth-bg-color{background-color:#DC080C;}

.header2{background-color:#1721D7;
			margin-bottom:20px;}

.header2 p{color:#F9F9F9;
			margin-top:10px;}

.margin-top{margin-top:50px;}
.margin-left{margin-left:40px;}
.margin-left1{margin-left:150px;}

.logo{margin-bottom:20px;}

.fix{position:fixed;
	top:0px;
	z-index:999;}

h2{color:#8689C8;}

.line{width:100%;
		height:8px;
		background-color:#EFEFEF;
		border-bottom:2px #A3A3A3 solid;
		}

.search{width:100%;
		height:42px;
		background-color:#EFEFEF;
		border-bottom:1px #A3A3A3 solid;
		border-left:1px #A3A3A3 solid;
		border-right:1px #A3A3A3 solid;
		border-radius:0px 0px 30px 30px;
		}

.searching{padding-top:3px;
			padding-left:100px;
			background-color:#E2E3D5;}



.text-align-center{text-align:center;}

.navbar ul ul, ol ul{display:none;
			}

.navbar ul li:hover ul{display:block;
			}

.navbar ul,ul{list-style:none;
		padding:0px;
		}

.navbar ul ul{position:absolute;
				z-index:10;
				}

.navbar ul ul li{background-color:#F8F2F2;
					padding:10px;}

.menu ul li{float:left;
			padding:20px;

			}



ul li a:hover{border-bottom:1px #DD171A solid;
				text-decoration:none;}

.form1{height:70px;}



.well:hover{background-color:#C6C6C6;}

img{-webkit-transition:padding 0.7s;}

